.App {
  background: #209cee;
  height: 100vh;
  padding: 30px;
}
.check-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}
.check-item {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
.App-logo {
  height: 140px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  align-items: center;
  justify-content: center;
}
.cat-pic {
width: 20%;
padding: 10px;
border-radius: 20px 20px 10px 20px;
opacity: 0.9;
}
.container {
  align-items: center;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 2px solid #806868;
  width: 400px;
}
.item {
  border: 2px solid #457081;
  margin: 10px;
  padding: 20px;
}
img:hover {
  opacity: 0.6;
}
#left-cat {
float: left;
}
#right-cat {
float: right;
}
.App-link {
  color: #61dafb;
}


